[submodule "engine/ThirdParty/glfw"]
	path = engine/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/ThirdParty/imgui"]
	path = engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/ThirdParty/fmt"]
	path = engine/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/ThirdParty/json"]
	path = engine/ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "engine/ThirdParty/objloader"]
	path = engine/ThirdParty/objloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "engine/ThirdParty/stb"]
	path = engine/ThirdParty/stb
	url = https://github.com/nothings/stb
[submodule "engine/ThirdParty/jolt"]
	path = engine/ThirdParty/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "engine/ThirdParty/imguizmo"]
	path = engine/ThirdParty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "engine/ThirdParty/pybind11"]
	path = engine/ThirdParty/pybind11
	url = https://github.com/pybind/pybind11.git
